<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <b><h1><u>Playground</u> </h1></b>
        <!-- for loop -->
        <h1>For Loop</h1>

        <ul>
            <% for(let i =1 ;i<10; i++) { %>
                <li>
                    <%= i %>
                </li>
            <% } %> 
        </ul>
     
        <!-- If Else -->
        <h1>If - Else</h1>
            
        <% if(true){    %>
            <h2>TRUE :)</h2>
            <%}else{         %>
                <h2>FALSE :(</h2>
            <%} %>


    </body>
</html>